{% extends 'core/base.html' %}
{% block titulo %}
<h1>Informacion de Pacientes</h1>    
{% endblock titulo %}

{% block contenido %}



    <div class="py-lg-4 ">
        <ul>

                    <div class="col-md-6 mb-7">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">{{ paciente.nombre }} {{ paciente.apellido }}</h4 >
                                <p class="card-text">
                                    Nacimiento: {{ paciente.nacimiento }}<br/>
                                    Cedula:  {{ paciente.cedula }}  <br/> 
                                    Telefono:  {{ paciente.telefono }}  <br/> 
                                    Pais de origen: {{ paciente.pais_origen }}<br/> 
                                    Sexo: {{ paciente.sexo }}<br/> 
                                    Tipo de consulta: {{ paciente.consulta }}<br/> 
                                    Descripcion: {{ paciente.descripcion }}<br/> 
                                    <a class="btn btn-primary" href="https://wa.me/{{ paciente.telefono}}?text=¡Hola!%20¿Cómo%20estás%3F">Contactar paciente</a>
                                </p>
                            </div>
                        </div>
                    </div>

        </ul>
    </div>
    <div >
        <a href="{% url 'app:buscar_pacientes' %}" ><button>Volver</button></a>
    </div>


{% endblock contenido %}

