{% extends 'core/base.html' %}
{% block titulo %}
<h1>Personal administrativo</h1>    
{% endblock titulo %}

{% block contenido %}
{%for adm in personaladm%}

    <div class="col-md-6 mb-7">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">{{ adm.nombre }} {{ adm.apellido }}</h4 >
                <p class="card-text">
                    Sexo: {{ adm.sexo }}<br/> 
                    Profesion: {{ adm.profesion }}<br/>
                    Cargo: {{ adm.cargo }}<br/> 
                    Descripcion del cargo: {{ adm.descripcion_puesto }}<br/> 
                </p>
            </div>
        </div>
    </div>

{%endfor%}
{% endblock contenido %}