{% extends 'core/base.html' %}
{% block titulo %}
<h1>Medicos</h1>    
{% endblock titulo %}

{% block contenido %}
{%for medico in medicos%}

    <div class="col-md-6 mb-7">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">{{ medico.nombre }} {{ medico.apellido }}</h4 >
                <p class="card-text">
                    Sexo: {{ medico.sexo }}<br/> 
                    Profesion: {{ medico.profesion }}<br/> 
                    Especialidad: {{ medico.especialidad }}<br/> 
                    Descripcion: {{ medico.descripcion }}<br/> 
                </p>
            </div>
        </div>
    </div>

{%endfor%}
{% endblock contenido %}

