{% extends 'core/base.html' %}
{% block titulo %}
<h1>Pacientes</h1>    
{% endblock titulo %}

{% block contenido %}



    <div class="py-lg-4 ">
        <form action="{% url 'app:buscar_pacientes' %}" method="get">
            <input type="text" name="consulta" placeholder="Cedula del paciente">
        </form>
        <ul>
            {% for paciente in pacientes  %}
                <li>
                    {{ paciente.cedula }} 
                    {{ paciente.nombre }}
                    <a href="{% url 'app:mostrar_pacientes_detail' paciente.id %}">  Informacion</a>
                    <a href="{% url 'app:mostrar_pacientes_update' paciente.id %}">  Actualizar info</a>
                    <a href="{% url 'app:mostrar_pacientes_delete' paciente.id %}">  Borrar</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock contenido %}

