
{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}

{% endblock  %}

{% block contenido %}

    {% if user.is_authenticated %}
        {{mensaje}}

        <p class="fs-2 ">Bienvenido {{user.username}}</p>
    {% endif %}

            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src={% static "core/assets/health.jpeg" %} alt="..." /></div>
                <div class="col-lg-6">
                    <h1 class="font-weight-light">Bienvenido al registro de personal de nuestra Clínica</h1>
                    <p>
                        Estamos encantados de darte la bienvenida a nuestra plataforma dedicada al registro de pacientes. Inicia sesion para poder realizar una historia medica de un paciente y revisar tu listado de pacientes registrados.
                    <a class="btn btn-primary" href="https://wa.me/1234567890?text=¡Hola!%20¿Cómo%20estás%3F">¡Escribenos por Whatsapp!</a>
                    
                    
                </div>
            </div>
            

{% endblock contenido %}

