
{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}

{% endblock  %}

{% block contenido %}

    {% if user.is_authenticated %}
        {{mensaje}}

        <p class="fs-2 ">Bienvenido {{user.username}}</p>
    {% endif %}

            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src={% static "core/assets/health.jpeg" %} alt="..." /></div>
                <div class="col-lg-6">
                    <h1 class="font-weight-light">Bienvenido al registro de personal de nuestra Clínica</h1>
                    <p>
                        Estamos encantados de darte la bienvenida a nuestra plataforma dedicada al registro del equipo que forma parte de la familia de la Clínica, ademas del registro de pacientes. Este portal es tu puerta de entrada a un entorno de trabajo dinámico y comprometido con la excelencia en el cuidado de la salud.
                    </p>
                    <a class="btn btn-primary" href={% url 'app:mostrar_medicos' %}>Mostrar personal medico</a>
                    <a class="btn btn-primary" href={% url 'app:mostrar_pacientes' %}>Mostrar pacientes</a>
                    <a class="btn btn-primary" href={% url 'app:mostrar_personaladm' %}>Mostrar personal administrativo</a>
                </div>
            </div>
            

{% endblock contenido %}

